* {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Press Start 2P', system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #8503f0; /* all colors except background */

}



body {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    padding: 14px;
    background: #4a3458;
    gap: 14px;
    
}


header {
    display: flex;
    align-items: stretch;
}

header,
main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    gap: 14px;
}

header input {
    flex: 1;
    border-radius: 14px;
    outline: none;
    width: 100%;
}

header button {
    border-radius: 14px;
    background: transparent;
    transition-duration: 200ms;
    cursor: pointer;
}

header button:hover {
    opacity: 0.7;
}

header button,
header input {
    padding: 14px 18px;
    border: none;
    outline: none;
    background: white;
}

p {
    font-size: 0.9em;
}

main {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


footer  {
    position: fixed; /* Fixed position */
    bottom: 0; /* Stick to the bottom */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    background: #4a3458; /* Background color */
    color: white; /* Text color */
    text-align: center; /* Center align text */
    padding: 10px; /* Padding for footer */
    
}
footer a{
    text-decoration: none;
}

footer a:hover {
    transition-duration: 200ms;
    border: none;
    background: transparent;
    cursor: pointer;
    opacity: 0.7;

}


#todoInput::placeholder {
    color: #8503f0;              
}

.todoItem {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px;
    border-radius: 14px;
    background: white;
    
    
}

.todoItem p {
    flex: 1;
    
    font-size: smaller;
    
}



.actionsContainer {
    display: flex;
    align-items: center;
    gap: 14px;
    
}

.actionsContainer button {
    transition-duration: 200ms;
    border: none;
    background: transparent;
    cursor: pointer;
}

.actionsContainer button:hover {
    opacity: 0.7;
}



@media (min-width: 640px) {

    header button,
    header input {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }
}